<div class="container-form">
  <div class="container__back" style="margin-bottom: 32px">
    <button (click)="navigate()" mat-stroked-button>
      <img alt="" src="assets/img/list/back.png">
      <span>Volver</span>
    </button>
  </div>
  <div class="container__form__all">

    <div class="container-form__header">
      <div class="container-form__header__title">
        <h1> Formulario de Registro</h1>
      </div>
    </div>

    <div class="container-form__center"></div>

    <div class="container-form__body">

      <form [formGroup]="registerForm" class="form-login" novalidate>

        <div class="row">
          <div class="col-12 col-lg-6">
            <mat-form-field [ngClass]="{'disabled-input': isDisabled}" appearance="outline">
              <mat-label>ID</mat-label>
              <input (mouseout)="getVerificationID()" formControlName="id" matInput placeholder="ID">
            </mat-form-field>
            <div *ngIf="registerForm.get('id')?.invalid && registerForm.get('id')?.touched"
                 class="container-form__body__validation">
              <div *ngIf="registerForm.get('id')?.errors" class="error">ID no válido.</div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" matInput placeholder="Tarjeta de crédito">
            </mat-form-field>
            <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                 class="container-form__body__validation">
              <div *ngIf="registerForm.get('name')?.errors" class="error">El nombre es requerido.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Descripción</mat-label>
              <input formControlName="description" matInput placeholder="Descripción">
            </mat-form-field>
            <div *ngIf="registerForm.get('description')?.invalid && registerForm.get('description')?.touched"
                 class="container-form__body__validation">
              <div *ngIf="registerForm.get('description')?.errors" class="error">Este campo es requerido!.</div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Logo</mat-label>
              <input formControlName="logo" matInput placeholder="Logo">
            </mat-form-field>
            <div *ngIf="registerForm.get('logo')?.invalid && registerForm.get('logo')?.touched"
                 class="container-form__body__validation">
              <div *ngIf="registerForm.get('logo')?.errors" class="error">Este campo es requerido.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">


            <mat-form-field appearance="outline">
              <mat-label>Fecha liberación</mat-label>
              <input (dateChange)="onDateChange($event)" [matDatepicker]="date_release" formControlName="date_release"
                     matInput>
              <mat-datepicker-toggle [for]="date_release" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #date_release></mat-datepicker>
            </mat-form-field>

            <div *ngIf="registerForm.get('date_release')?.invalid && registerForm.get('date_release')?.touched"
                 class="container-form__body__validation">
              <div *ngIf="registerForm.get('date_release')?.errors" class="error">Este campo es requerido.</div>
            </div>

          </div>
          <div class="col-12 col-lg-6">


            <mat-form-field appearance="outline" class="disabled-input">
              <mat-label>Fecha revisión</mat-label>
              <input [matDatepicker]="date_revision" formControlName="date_revision" matInput>
              <mat-datepicker-toggle [for]="date_revision" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #date_revision></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      </form>


      <div class="container-form__body__button">
        <div class="container-form__body__button__option">
          <button (click)="clearForm()" class="button__clear" color="warn" mat-flat-button>Reiniciar</button>
          <button (click)="openCart()" class="button__send" color="primary" mat-flat-button>Enviar</button>
        </div>
      </div>
    </div>


  </div>


</div>
@if (loading) {
  <app-loading/>
}

